@page "/notes/collection/{collectionId}"

<h3>Collection</h3>
You have @Notes.Count notes in this collection :)

<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Label="Add Collection" OnClick="() =>CreateNoteNote(CollectionId)" Style="position: fixed; bottom: 16px; right: 16px; z-index: 1000;"/>
