@page "/Note/EditNote/{CollectionId}/{NoteId}"
<h3>EditNote</h3>

<EditForm Model="@note">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudTextField T="string" Label="Note" Variant="Variant.Text" Value="@CurrentContent" ValueChanged="OnInputChanged" Lines="5" Immediate="true"/>
    <p>Last saved at: @LastSavedTime.ToString()</p>
</EditForm>

@code {
    
}